@import url(https://fonts.bunny.net/css?family=alatsi:400|alegreya-sans-sc:400);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-width: 320px; /* Prevents shrinking */
    display: flex;
    flex-direction: column;
}

nav {
    background:#16697a;
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    height: 60px; 
    display: flex;
    align-items: center; 
    justify-content: right; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav div {
    display: flex;
    align-items: center;
    height: 60px;
    margin-right: auto;
    margin-left: 20px
}

nav div h5 {
    font-family: 'Alegreya Sans SC', sans-serif;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 8px;
    user-select: none;
    font-size: 15px;
}

nav div h5:hover{
    background-color: #0d4652;
    cursor: pointer;
}


nav h6 {
    font-size:15px ;
    margin-right: 20px;
    flex-direction: row;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 8px;
    user-select: none;
}

nav h6:hover {
    background-color: #0d4652;
    cursor: pointer;
}

nav h6 a {
  color: #fff;
  font-size:15px ;
  text-decoration: none;
}



main {
    flex: 1;
    background: #fff;
    display: block;
}


footer {
    background: #54494B;
    color: white;
    height: 60px; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
