@import url(https://fonts.bunny.net/css?family=alatsi:400|alegreya-sans-sc:400);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
}


nav {
    background:#16697a;
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    height: 60px; 
    display: flex;
    align-items: center; 
    justify-content: right; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav div {
    display: flex;
    align-items: center;
    height: 60px;
    margin-right: auto;
    margin-left: 20px
}

nav button {
    background:#16697a;
    border: none;
    color: white;
    font-size: 15px;
    font-family: 'Alegreya Sans SC', sans-serif;
    padding: 8px 6px;
    margin-right: 20px;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
  }
  
  nav button:hover {
    background-color: #0d4652;
  }
  
  nav button:active {
    transform: scale(0.9);
  }
  
  .logo-button {
    margin-left: 20px;
    margin-right: auto;
  }
  


main {
  flex: 1;
  background: url('../Src/paper.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

main div {
  text-align: center;
  padding-top: 100px;
  font-family: 'Alegreya Sans SC', sans-serif;
  user-select: none;
  color: white;
  text-shadow: black 2px 2px;
}



.home-button {
  background:#16697a;
  border: none;
  color: white;
  font-size: 15px;
  font-family: 'Alegreya Sans SC', sans-serif;
  padding: 8px 6px;
  margin-top: 10px;
  border-radius: 2px;
  cursor: pointer;
  user-select: none;
  text-shadow: black 1px 1px;
}

.home-button:hover {
  background-color: #0d4652;
}

.home-button:active {
  transform: scale(0.9);
}



footer {
  background: #54494B;
  color: white;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
  text-align: center;
  font-size: 0.95rem;
}

.footer-content p {
  margin: 0.3rem 0;
}

.footer-content a {
  color: #FFD700; /* gul lenkefarge for kontrast */
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}









